<div class="border">
    <pre>
╔═════════════════════════════════════════════════════════════════════════════════════════╗
║                                                                                         ║
║                                                                                         ║
║                                                                                         ║
║                                                                                         ║
║                                                                                         ║
║                                                                                         ║
║                                                                                         ║
║                                                                                         ║
║                                                                                         ║
║                                                                                         ║
║                                                                                         ║
║                                                                                         ║
║                                                                                         ║
║                                                                                         ║
║                                                                                         ║
║                                                                                         ║
║                                                                                         ║
║                                                                                         ║
║                                                                                         ║
║                                                                                         ║
║                                                                                         ║
║                                                                                         ║
║                                                                                         ║
║                                                                                         ║
║                                                                                         ║
║                                                                                         ║
║                                                                                         ║
║                                                                                         ║
╚═════════════════════════════════════════════════════════════════════════════════════════╝
    </pre>
</div>