<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../styles/style.css"> 
        
        <title>
            Willkommen bei Ascadiia
        </title>
    </head>
    <body>
       <!--- <div class=""></div> -->
        <div id="login">
            <div class="header">
                Login
            </div>
            <form action="/run" method="POST">
                <input type="text" required name="name" id="name" placeholder="Username" class="input">
                <input type="password" required name="pw" id="pw" placeholder="Password" class="input">
                <button type="submit" class="btn-login">Login</button>
            </form>
            <form action="/registerLink" method="POST">
                <button type="submit" class="btn-login">Register</button>
            </form>
        </div>
    </body>
</html>