<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../styles/style.css"> 
        
        <title>
            Welcome to Ascadiia
        </title>
    </head>
    <body>
       <!--- <div class=""></div> -->
       <div id="header"><pre>
 █████╗ ███████╗ ██████╗ █████╗ ██████╗ ██╗██╗ █████╗ 
██╔══██╗██╔════╝██╔════╝██╔══██╗██╔══██╗██║██║██╔══██╗
███████║███████╗██║     ███████║██║  ██║██║██║███████║
██╔══██║╚════██║██║     ██╔══██║██║  ██║██║██║██╔══██║
██║  ██║███████║╚██████╗██║  ██║██████╔╝██║██║██║  ██║
╚═╝  ╚═╝╚══════╝ ╚═════╝╚═╝  ╚═╝╚═════╝ ╚═╝╚═╝╚═╝  ╚═╝
                       </pre>        
                       </div>                  
           
        <div id="login">
            <div class="header">
                Login
            </div>

            <form action="/run" method="POST">
                <input type="text" required name="name" id="name" placeholder="Username" class="input">
                <input type="password" required name="pw" id="pw" placeholder="Password" class="input">
                <button type="submit" class="btn-login" id="left">Login</button>
            </form>
            <form action="/registerLink" method="POST">
                <button type="submit" class="btn-login" id="right">Register</button>
            </form>
        </div>
    </body>
    <footer>
        <div id="footer"><pre>
          How to play
            ╔═══╗
            ║ ^ ║
            ╚═══╝
       ╔═══╗╔═══╗╔═══╗
       ║ < ║║ v ║║ > ║
       ╚═══╝╚═══╝╚═══╝
       
        </pre>
        </div>
    </footer>
</html>