<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../styles/style.css"> 

        <title>Register</title>
    </head>
    <body>
            <div id="header"><pre>
 █████╗ ███████╗ ██████╗ █████╗ ██████╗ ██╗██╗ █████╗ 
██╔══██╗██╔════╝██╔════╝██╔══██╗██╔══██╗██║██║██╔══██╗
███████║███████╗██║     ███████║██║  ██║██║██║███████║
██╔══██║╚════██║██║     ██╔══██║██║  ██║██║██║██╔══██║
██║  ██║███████║╚██████╗██║  ██║██████╔╝██║██║██║  ██║
╚═╝  ╚═╝╚══════╝ ╚═════╝╚═╝  ╚═╝╚═════╝ ╚═╝╚═╝╚═╝  ╚═╝
                               </pre>        
                               </div>                  
                   
        <div id="register">
            <div class="header">
                Register
            </div>
            <form action="/register" method="POST">
                <input type="text" required name="name" id="name" placeholder="Username" class="input">
                <input type="password" required name="pw" id="pw" placeholder="Password" class="input">
                <input type="password" required name="pwrep" id="pwrep" placeholder="Repeat Password" class="input">
                <button type="submit" class="btn-login" id="left">Register</button>
            </form>
            <form action="/" method="GET">
                <button type="submit" class="btn-login" id="right">Back</button>
            </form>
        </div>
    </body>

</html>