<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../styles/style.css"> 

        <title>Register</title>
    </head>
    <body>
        <% if(registered == false) { %>
            <form action="/register" method="POST">
                <input type="text" required name="name" id="name" placeholder="Username" class="input">
                <input type="password" required name="pw" id="pw" placeholder="Password" class="input">
                <button type="submit" class="btn-login">Register</button>
            </form>
        <% } else { %>
            <form>
                <button class="btn-login" onclick="window.close()">Close</button>
            </form>
        <% } %>
    </body>
</html>