<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="../views/chrome_sknaxHqccY.ico" />    
        <link rel="stylesheet" type="text/css" href="../styles/style.css"> 

        <script src="/node_modules/phaser/dist/phaser.js"></script>
        <script src="/node_modules/phaser/dist/phaser-arcade-physics.js"></script>
        <script src="inputhandler.js"></script>
        <script src="/entities/entity.js"></script>
        <script src="/entities/player.js"></script>
        <script src="/entities/consumables.js"></script>
        <script src="/hud/hudelements.js"></script>
        <script src="/scenes/collect_coins.js"></script>
        <script src="/scenes/cc_menu.js"></script>
        <script src="/scenes/cc_countdown.js"></script>
        <script src="sercom.js"></script>
        <script src="main.js"></script>

        <title>You are playing Ascadiia</title>
    </head>
    <body>
        <div id="stuff">
            <div id="head">
                <div id="wellcome">
                    Wellcome 
                    <%= sessionValue %>
                </div>
                <form action="/logout" method="POST">
                    <button type="submit" class="btn-login" id="logout">Logout</button>
                </form>
            </div>
            
            <div id="header"><pre>
 █████╗ ███████╗ ██████╗ █████╗ ██████╗ ██╗██╗ █████╗ 
██╔══██╗██╔════╝██╔════╝██╔══██╗██╔══██╗██║██║██╔══██╗
███████║███████╗██║     ███████║██║  ██║██║██║███████║
██╔══██║╚════██║██║     ██╔══██║██║  ██║██║██║██╔══██║
██║  ██║███████║╚██████╗██║  ██║██████╔╝██║██║██║  ██║
╚═╝  ╚═╝╚══════╝ ╚═════╝╚═╝  ╚═╝╚═════╝ ╚═╝╚═╝╚═╝  ╚═╝
            </pre>        
            </div>                  
    
        </div>

        <div id="game">

        </div>
        <div id="tutorial">

        </div>
        <footer>
        <div id="footer"> <pre>
             How to play 

     ╔═══╗                 ╔═══╗  
     ║ W ║                 ║ ^ ║ 
     ╚═══╝                 ╚═══╝ 
╔═══╗╔═══╗╔═══╗       ╔═══╗╔═══╗╔═══╗  
║ A ║║ S ║║ D ║       ║ < ║║ v ║║ > ║ 
╚═══╝╚═══╝╚═══╝       ╚═══╝╚═══╝╚═══╝
        </pre>    
        </div>
        </footer>
        <div id="art">

        </div>
    </body>
</html>