<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../styles/style.css"> 

        <title>Play</title>
    </head>
    <body>
        <h1>Stuff</h1>
        <p>
            Wilkommen 
            <%= sessionValue %>
        </p>
        <form action="/logout" method="POST">
            <button type="submit" class="btn-login">Logout</button>
        </form>
    </body>
</html>