<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../styles/style.css"> 

        <script src="/node_modules/phaser/dist/phaser.js"></script>
        <script src="/node_modules/phaser/dist/phaser-arcade-physics.js"></script>
        <script src="inputhandler.js"></script>
        <script src="/entities/entity.js"></script>
        <script src="/entities/player.js"></script>
        <script src="/entities/consumables.js"></script>
        <script src="/hud/hudelements.js"></script>
        <script src="/scenes/collect_coins.js"></script>
        <script src="/scenes/cc_menu.js"></script>
        <script src="sercom.js"></script>
        <script src="main.js"></script>

        <title>Play</title>
    </head>
    <body>
        <div id="stuff">
            
            Wilkommen 
            <%= sessionValue %>
            
            <div id="header"><pre>
 █████╗ ███████╗ ██████╗ █████╗ ██████╗ ██╗██╗ █████╗ 
██╔══██╗██╔════╝██╔════╝██╔══██╗██╔══██╗██║██║██╔══██╗
███████║███████╗██║     ███████║██║  ██║██║██║███████║
██╔══██║╚════██║██║     ██╔══██║██║  ██║██║██║██╔══██║
██║  ██║███████║╚██████╗██║  ██║██████╔╝██║██║██║  ██║
╚═╝  ╚═╝╚══════╝ ╚═════╝╚═╝  ╚═╝╚═════╝ ╚═╝╚═╝╚═╝  ╚═╝
            </pre>        
            </div>                  

            <% if (sessionValue == "admin") { %>
                <form action="/clear" method="GET">
                    <button type="submit" class="btn-login" id="clear">Reset User</button>
                </form>
            <% } %>
            <form action="/logout" method="POST">
                <button type="submit" class="btn-login" id="logout">Logout</button>
            </form>
    
        </div>

        <div id="game">

        </div>
        <div id="tutorial">

        </div>
        <div id="fooder">

        </div>
        <div id="art">

        </div>
    </body>
</html>