body{
    background-color: #222222;
    color: greenyellow;
}

#login{
    margin: 25% 30%;
    border: 1px solid white;
    padding: 2px;
}

.input{
    font-size: 20px;
}
.btn-login{
    font-size: 20px;
}