body{
    background-color: #111111;
    color: greenyellow;
}

#login{
    margin: 25% 30%;
    border: 1px solid white;
    padding: 2px;
}

.input{
    font-size: 20px;
}
.btn-login{
    font-size: 20px;
}

#game{
    margin-left: auto;
    margin-right: auto;
    width: 1000.5px;
}

#logout{
    float: right;
}