body{
    background-color: #111111;
    color: #aaaaaa;
    font-family: 'Consolas';
}

#login{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    width: 300px;
}

.input{
    font-size: 20px;
    width: 100%;
}
.btn-login{
    font-size: 20px;
    float: left;
}

#game{
    margin-left: auto;
    margin-right: auto;
    width: 1000.5px;
}

#logout{
    float: right;
}

#register{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}

.header{
    font-size: 40px;
}